*{
  background-color: #282c34;
  color: #61dafb;
  font-family: 'Courier New', Courier, monospace;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

.col {
  width: 5em;
  height: 5em;
  margin: 10px;
  border: 0.2em solid #61dafb;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.col p {
  font-size: 3em;
}

.row {
  display: flex;
  flex-direction: row;
}